{% extends "base.html" %}
{% block title %}Paste{% endblock %}
{% block css_extra %}
	<link href="{{ url_for('static', filename='pygments.css') }}" rel="stylesheet" />
{% endblock %}
{% block fullcontent %}
<div class="container-fluid">
	<div class="row-fluid">
		<h3>
			Pasted {{ paste.created.strftime('%H:%M, %d %b %Y') }}
			<small><a href="{{ url_for('paste.view_raw', slug=paste.slug) }}">View Raw</a></small>
		</h3>
	</div>
	<div class="row-fluid">
		{{ paste.html|safe }}
	</div>
</div>
{% endblock %}
