/*
 * Typography
 */
body {
	font-family: Georgia, "Times New Roman", serif;
	font-size:16px;
	line-height:24px;
	padding-bottom:20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li {
	line-height:24px;
}

article h2 {
	font-size:32px;
	line-height:48px;
	margin-top:48px;
	border-bottom:1px solid #ccc;
}
article h2:first-child {
	margin-top:10px;
}

article p {
	margin-bottom:20px;
}

.highlight > pre {
	/* Nonstandard property! */
	tab-size:4;
}



/*
 * Layout
 */
.container { max-width:600px; }

.page-header {
	border-bottom:none;
	margin-bottom:10px;
}

.feed-link {
	color:#ccc;
}
.feed-link:hover {
	color:#fa3;
	text-decoration:none;
}
.feed-link i {
	height:44px;
	line-height:44px;
	width:44px;
	text-align:center;
}

.navbar { margin-bottom:0; }
.navbar-inner, .nav  {
	box-shadow:none;
	background:none;
	border:none;
	padding:0;
}
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
	background:none;
	box-shadow:none;
}

.navbar .nav>li>a:hover, .navbar .nav>.active>a {
	border-bottom:1px solid #000;
	margin-bottom:-1px;
}
.navbar .nav {
	width:100%;
	border-bottom:1px solid #ccc;
}

/*.new-badge {
	padding-left:2px;
	font-size:10px;
	line-height:10px;
	color:#aaa;
}*/



/*
 * Home
 */

.home-sidebar h5 {
	margin-top:0;
}
/* http://stackoverflow.com/questions/14601425/bootstrap-navbar-justify-span-menu-items-occupying-full-width */
.me-links {
	margin:0;
	display:table;
	border-top:1px solid #ccc;
	margin-top:10px;
	padding-top:10px;
}

.me-links li {
	display:table-cell;
	width:1%;
	float:none;
}

.me-links li a {
	text-align:center;
}



/*
 * Projects
 */
.project-category { margin-top:50px; }
.project-category:first-child { margin-top:0; }
.project-category > h5 {
	border-bottom:1px solid #ccc;
	text-align:center;
}
.project {
	border-bottom:none;
	border-left:3px solid #ccc;
	padding-left:10px;
}
.project-category-web .project { border-left-color:#fcc; }
.project-category-cross-platform .project { border-left-color:#9c9; }
.project-category-mac .project { border-left-color:#ccf; }

.project h3, .project h6 { display:inline-block; margin:0; }

.project-badges {
	display:inline-block;
}
.project-badge {
	padding-left:10px; color:#ccc;
	font-size:33px;
	transition:color 0.2s;
	-webkit-transition:color 0.2s;
}
/* Remember, floats flip the order! */
.project-badge:last-child {
	padding-left:0;
}
.project-badge:hover {
	text-decoration:none;
	color:#000;
}
.project-badge-web:hover { color:#66f; }
.project-badge-download:hover { color:#090; }

@media (max-width: 767px) {
	.project h3, .project h6 { display:block; }
	.project header { margin-bottom:10px; }
	.project-badge { font-size:32px; }
}



/*
 * Blog
 */

.read-more { margin-bottom:0; }
.read-more a { display:block; line-height:40px; }

article {
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
}
article:last-child {
	border-bottom:inherit;
	margin-bottom:inherit;
	padding-bottom:inherit;
}
article .timestamp { white-space:nowrap; }
article img { display:block; }
article footer {
	border-top:1px solid #ccc;
	margin-top:30px;
	padding-top:5px;
	text-align:right;
	color:#999;
}

@media (min-width: 768px) {
	article p, article ul { padding-left:5%; }
	article blockquote { margin-left:5%; }
	article .title { white-space:nowrap; }
}

@media (max-width: 767px) {
	#header small {
		display:block;
		line-height:normal;
	}
	
	article {
		margin-bottom:2em;
	}
	
	article .timestamp {
		display:block;
		line-height:14px;
	}
	article .title {
		display:block;
	}
}

@media (max-width: 480px) {
	/* http://stackoverflow.com/questions/14601425/bootstrap-navbar-justify-span-menu-items-occupying-full-width */
	.navbar .nav {
		margin:0;
		display:table;
	}
	
	.navbar .nav li {
		display:table-cell;
		width:1%;
		float:none;
	}
	
	.navbar .nav li a {
		text-align:center;
	}
}

/*
 * Pastes
 */
#paste-text {
	height:100px;
}
