body {
	font-family: Georgia, "Helvetica Neue", Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
}

h1, h2, h3, h4, h5 {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li {
	line-height:24px;
}

article h2 {
	font-size:32px;
	line-height:48px;
	margin-top:48px;
	border-bottom:1px solid #ccc;
}

article p {
	margin-bottom:20px;
}

.container { max-width:600px; }

.page-header {
	border-bottom:none;
	margin-bottom:10px;
}

.feed-link {
	color:#ccc;
}
.feed-link:hover {
	color:#333;
	text-decoration:none;
}
.feed-link i {
	height:44px;
	line-height:44px;
	width:44px;
	text-align:center;
}

.navbar { margin-bottom:0; }
.navbar-inner, .nav  {
	box-shadow:none;
	background:none;
	border:none;
	padding:0;
}
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
	background:none;
	box-shadow:none;
}

.navbar .nav>li>a:hover, .navbar .nav>.active>a {
	border-bottom:1px solid #000;
	margin-bottom:-1px;
}
.nav {
	width:100%;
	border-bottom:1px solid #ccc;
}

/*.new-badge {
	padding-left:2px;
	font-size:10px;
	line-height:10px;
	color:#aaa;
}*/

article .timestamp { white-space:nowrap; }
article img { display:block; }
article footer {
	border-top:1px solid #ccc;
	margin-top:30px;
	padding:5px 0;
	text-align:right;
	color:#999;
}

@media (min-width: 768px) {
	article p, article ul { padding-left:5%; }
	article .title { white-space:nowrap; }
}

@media (max-width: 767px) {
	#header small {
		display:block;
		line-height:normal;
	}
	
	article {
		margin-bottom:2em;
	}
	
	article .timestamp {
		display:block;
		line-height:14px;
	}
	article .title {
		display:block;
	}
}

@media (max-width: 480px) {
	/* http://stackoverflow.com/questions/14601425/bootstrap-navbar-justify-span-menu-items-occupying-full-width */
	.navbar .nav {
		margin:0;
		display:table;
	}
	
	.navbar .nav li {
		display:table-cell;
		width:1%;
		float:none;
	}
	
	.navbar .nav li a {
		text-align:center;
	}
}
