{% macro nav_li(url, name) %}
	{%- if url == request.script_root + request.path -%}
		<li class="active"><a href="{{ url }}">{{ name|safe }}</a></li>
	{%- else -%}
		<li><a href="{{ url }}">{{ name|safe }}</a></li>
	{%- endif -%}
{% endmacro %}<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}UNTITLED{% endblock %} | MacaroniCode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
	{#<link href="{{ url_for('static', filename='bootstrap-combined.no-icons.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet" />#}
	{% block css %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />{% endblock %}
	<link href="{{ url_for('blog_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml" />
</head>
<body>
	<div class="container">
		<header id="header" class="page-header row-fluid" role="header">
			<a href="{{ url_for('blog_feed') }}" class="feed-link pull-right"><i class="icon-rss icon-2x"></i></a>
			<h1 role="banner">
				MacaroniCode{# <small>{% block headline %}&nbsp;{% endblock %}</small>#}
			</h1>
			<div class="navbar" role="navigation">
				<div class="navbar-inner">
					<ul class="nav phone-fullwidth">
						{{ nav_li(url_for('home'), 'Home') }}
						{{ nav_li(url_for('projects'), 'Projects') }}
						{% for page in pages %}
							{{ nav_li(url_for('page', path=page.slug), page.title) }}
						{% endfor %}
						{{ nav_li(url_for('blog'), 'Blog') }}
					</ul>
				</div>
			</div>
		</header>
		<div id="content" class="row-fluid" role="main">
			{% block content %}
			Oops, looks like I forgot to override this block...<br />
			If you're not me, please <a href="http://twitter.com/uppfinnarn" target="_blank">tell me</a>!
			{% endblock %}
		</div>
	</div>
	{% include "google_analytics.html" %}
</body>
</html>
