{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headline %}Under (re)construction{% endblock %}
{% block content %}
	<div class="span4 pull-right home-sidebar">
		<h5>Hosted Here</h5>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="http://macaronicode.se/tweetool/" target="_blank">Tweetool</a></li>
			<li><a href="http://macaronicode.se/MitaOri/" target="_blank">Mitakihara Original</a></li>
		</ul>
		<hr class="visible-phone" />
	</div>
	
	<p class="span8 lead">
		I make things.<br />
		Sometimes, these things are useful.
	</p>
	
	<p class="span8">
		I'm a hobbyist programmer who likes doing stupid things just to see if it works, obsesses over details, rants about technology on the internet and writes WAY too long sentences.
	</p>
	
	<ul class="span8 nav nav-pills me-links">
		<li><a href="http://twitter.com/uppfinnarn">Twitter</a></li>
		<li><a href="http://heello.com/uppfinnarn">Heello</a></li>
		<li><a href="http://github.com/uppfinnarn">GitHub</a></li>
	</ul>
{% endblock %}
