{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headline %}Under (re)construction{% endblock %}
{% block content %}
	<h3>Under (re)construction</h3>
	<p>
		Basically, I got mad at Mezzanine (the blogging platform I used before) after it broke the site a third time for no good reason.<br />
		I'm in the process of making my own version from scratch, but, well, it's not quite finished yet.
	</p>
	<p>
		<a href="http://twitter.com/uppfinnarn" target="_blank">Twitter</a> |
		<a href="http://heello.com/uppfinnarn" target="_blank">Heello</a> |
		<a href="http://github.com/uppfinnarn" target="_blank">GitHub</a>
	</p>
	<hr />
	<h3>On this site:</h3>
	<ul>
		<li><a href="/MitaOri/">Mitakihara Original</a></li>
	</ul>
{% endblock %}
